<!DOCTYPE html>
<html>

<head>
    <title>openvidu-web-component</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="/javascripts/app.js"></script>
    <script type="text/javascript" src="/javascripts/openvidu-webcomponent-2.9.0.js"></script>
    <link rel="stylesheet" href="/stylesheets/openvidu-webcomponent-2.9.0.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <input type="hidden">
    <!-- Form to connect to a video-session -->
    <div id="main" style="text-align: center;">
        <h1>Join a video session</h1>        
        <div>
            <button class="btn btn-primary" onclick="joinSession(); return false">Join a video session</button>
        </div>
    </div>

    <!-- OpenVidu Web Component -->
    <openvidu-webcomponent style="display: none;" theme="dark"></openvidu-webcomponent>

</body>

</html>